<div class="border-bottom row" style="margin-bottom:16px;">
  <div class="col-9">
  <h4 style="color:rgb(255,0,0); margin-bottom:4px;">
    {{job['Title']}}</h4>
  <div>
    <b>Location:</b> {{job['Location']}}
  </div>
  <div>
    <b>Req ID:</b> {{job['Req ID']}}
  </div>
  <div>
    <b>Category:</b> {{job['Category']}}
  </div>
  <div>
    <b>Posted On:</b> {{job['Posted On']}}
  </div>
  </div> 
  <div class="col-3">
   <a href="mailto:careers@spglobal.com?subject=Application%20for%20{{job['Title']}}&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Resume%3A%20%3Cresume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20Profile%3A%20%3CLinkedIn%20Link%3E%0D%0A%0D%0AMy%20Projects%3A%20%3CGithub%20or%20Alternative%20link%3E%0D%0A%0D%0A type="button" class="btn btn-outline-primary">Apply</a> 
  <br></div>
</div>