<div class="border-bottom row" style="margin-bottom:16px;">
  <div class="col-9">
  <h4 style="color:rgb(255,0,0); margin-bottom:4px;">
    {{job['Title']}}</h4>
  <div>
    <b>Location:</b> {{job['Location']}}
  </div>
  <div>
    <b>Req ID:</b> {{job['Req ID']}}
  </div>
  <div>
    <b>Category:</b> {{job['Category']}}
  </div>
  <div>
    <b>Posted On:</b> {{job['Posted On']}}
  </div>
  </div> 
  <div class="col-3">
   <button type="button" class="btn btn-outline-primary">Apply</button> 
  <br></div>
</div>